/* The format for the input rectangle */
#inputrectangle {
  width: 600px;
  height: 300px;
  background: #ffffff;
  left: 29%;
  position: relative;
  margin-left: 0px;
  border: 12px solid #6496c8
}

/* The format for the rectangle */
#rectangle {
  width: 628px;
  height: 125px;
  background: #6496c8;
  left: 29%;
  position: relative;
  top: -4px;
  font-size: 12px;
}

/* The format for the words PLAINTEXT */
#plainTextStyle {
  color: blue;
  background-color: white;
  font-size: 11px;
  width: 65px;
  text-align: center;
  border: .5px solid black;
}

/* The format for the words cyphertext */
#cypherTextStyle {
  color: red;
  background-color: white;
  font-size: 11px;
  width: 65px;
  text-align: center;
  border: .5px solid black;
}

/* Use h2 for actual words */
h2 {
  font-size: 24px;
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: monospace;
  letter-spacing: 3px;
}

/* Use p for number of times guessed */
p {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 18.5px;
  margin-right: 15px;
  letter-spacing: 9.05px;
  font-family: monospace;
  font-weight: bold;
}

/* Use button for... buttons */
button {
  font-size: 11px;
  margin-left: 2px;
  margin-right: 2px;
}

/* Use input for input boxes */
.input {
  font-size: 11px;
  width: 12px;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 0 #000000;
  border: .5px solid black;
}

/* Use input.focus for when the box is being selected */
.input:focus {
  background-color: yellow;
  outline: none;
}
